/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: url('../img/medical.png');  
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Ubuntu', cursive;
}

.thumbnail {
    border: 0 none;
    margin-bottom: 0px;
    box-shadow: 1;
    background: transparent;
    font-family: 'Ubuntu', cursive;
}

.navbar-default {
  font-family: 'Ubuntu', cursive;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  font-family: 'Ubuntu', cursive;
}
.navbar-brand,
.navbar-nav > li > a {
  font-family: 'Ubuntu', cursive;
}
.navbar-inverse {
  font-family: 'Ubuntu', cursive;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  font-family: 'Ubuntu', cursive;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  font-family: 'Ubuntu', cursive;
}

.media-body {
  font-family: 'Ubuntu', cursive;
}

.btn-primary {
  font-family: 'Ubuntu', cursive;
}

.btn-success {
  font-family: 'Ubuntu', cursive;
}

.btn-danger {
  font-family: 'Ubuntu', cursive;
}

.badge {
  font-family: 'Ubuntu', cursive;
}

p {
  font-size: 120%;
}

.label-right {
  float: right;
  font-family: 'Ubuntu', cursive;
  font-size: 90%;
}

.label-primary {
  width: 100%;
  font-family: 'Ubuntu', cursive;
  font-size: 90%;
}

.panel-body {
  background: transparent;
  padding: 2px;
}

.panel {
  background: transparent;
  border: 0 none;
  margin-bottom: 1px;
}

.panel-footer {
  background: transparent;
  padding: 0px 0px;
  border-top: 0 none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-heading {
  font-family: 'Ubuntu', cursive;
  opacity: .8;
}

.panel-primary > .panel-heading {
  background-color: #222222;
  border-color: #222;
}

.list-group-item {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #FFFFFF;
}
a:active {
    color: #FFFFFF;
}

div.collapse {
    overflow:visible;
}
